<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.apache.org/ant/AntDSL" 
       class = "org.apache.ant.antdsl.AntdslPackage"
       genModel = "org/apache/ant/antdsl/AntDSL.genmodel" /> 
	
  </extension>




</plugin>
